<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Цифровой продуктовый магазин">
    <meta name="keywords"
          content="цифровой, продуктовый, магазин, digital, grocery">
    <meta name="author" content="Sergey Gorodnyuk (https://github.com/gorodnyuk)">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>Цифровой продуктовый магазин</title>
</head>

<body>
<div class="container">
    <h4 align="center">Цифровой продуктовый магазин</h4>
    <hr/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Наименование</th>
            <th>Стоимость, руб.</th>
            <th>Остаток</th>
        </tr>
        </thead>

        <tbody class="table-group-divider">
        <tr th:each="product: ${products}">
            <td th:text="${product.id}"/>
            <td th:text="${product.name}"/>
            <td th:text="${product.price}"/>
            <td th:text="${product.balance}"/>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>
