<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Цифровой продуктовый магазин">
    <meta name="keywords"
          content="цифровой, продуктовый, магазин, digital, grocery">
    <meta name="author" content="Sergey Gorodnyuk (https://github.com/gorodnyuk)">

    <title>Цифровой продуктовый магазин</title>
</head>

<body>
<h2 align="center">Цифровой продуктовый магазин</h2>
<table border="1">
    <tr>
        <td>Номер</td>
        <td>Наименование товара</td>
        <td>Цена руб.</td>
        <td>Остаток</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Лапша</td>
        <td>20</td>
        <td>10</td>
    </tr>
</table>
</div>
</body>

</html>
