<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Цифровой продуктовый магазин">
    <meta name="keywords"
          content="цифровой, продуктовый, магазин, digital, grocery">
    <meta name="author" content="Sergey Gorodnyuk (https://github.com/gorodnyuk)">

    <title>Цифровой продуктовый магазин</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
<h3 align="center">Цифровой продуктовый магазин</h3>
<table>
    <tr>
        <th>Номер</th>
        <th>Наименование</th>
        <th>Стоимость, руб.</th>
        <th>Остаток</th>
    </tr>
    <tr th:each="product: ${products}">
        <td th:text="${product.id}"/>
        <td th:text="${product.name}"/>
        <td th:text="${product.price}"/>
        <td th:text="${product.balance}"/>
    </tr>
</table>
</div>
</body>

</html>
